@import "tailwindcss";

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@utility animate-slide-left {
  animation: slide-left 3s linear infinite;
}

